<!DOCTYPE html>

%rebase('base.tpl', stil='admin', slika=False)

<!-- Page content -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
    <p class="w3-justify">Pozdravljeni! Prijavljeni ste kot admin. Na tej strani lahko dodajate in brišete člane,
        spreminjate funkcije članov, dodajate in brišete akcije in vode, iščete osebe in pregledate, kateri otroci
        še nimajo plačane članarine</p>
    </div>
    <div class="w3-row w3-padding-32">

  <!-- The ČLANI Section -->
      <div class="w3-green" id="člani">
  <div class="w3-container w3-content w3-center w3-padding-64"   >

    <h2 class="w3-wide">DODAJ/IZBRIŠI ČLANA</h2>
    <p><font color="white"><b>Dodaj člana</b></font></p>
    <form action="." role="form" method="post" class="form">
      <label><i class="add">Vnesite podatke novega člana</i></label>
			<div class="container">

				<input type="name" class="form-control" placeholder="ime" name="name" id="name" required>
                <input type="surname" class="form-control" placeholder="priimek" name="surname" id="surname" required>
                <input type="date" class="form-control" placeholder="datum rojstva"  name="date" id="date" required>
              <input type="address" class="form-control" placeholder="naslov"  name="address" id="address" required>
              <input type="email" class="form-control" placeholder="emal"  name="email" id="email">
              <!--<form action=".">-->
                  <select name="funkcija">
                    <option value="otrok">otrok</option>
                    <option value="starš">starš</option>
                    <option value="blagajnik">blagajnik</option>
                    <option value="gospodar">gospodar</option>
                    <option value="GG načelnik">GG načelnik</option>
                    <option value="MČ načelnik">MČ načelnik</option>
                    <option value="PP načelnik">PP načelnik</option>
                    <option value="RR načelnik">RR načelnik</option>
                    <option value="starešina">starešina</option>
                    <option value="tajnik">tajnik</option>
                  </select>
                  <!--<input type="submit" placeholder="kaj dela?"  class="form-control" required>-->

              <input type="tel" class="form-control" placeholder="telefon"  name="telefon" id="telefon">
              <input type="text" class="form-control" placeholder="zaposlitev"  name="zaposlitev" id="zaposlitev">

                  <select name="vod">
                    <option value="" selected>vod</option>
                     % for row in vodi_vse:
                        <option value="{{row[0]}}">{{row[1]}}</option>

                      % end
                  </select>
                <!--</form>-->

				<button type="submit" value="dodajclan", name="dodajclan" style="float:right;
width:100px; margin-top: 8px;">Dodaj</button>
			</div>
                           	  <h5>
                %if napaka4 is not None:
                    {{napaka4}}
                %end
              </h5>
     </form>
    <br>

        <p><font color="white"><b>Izbriši člana</b></font></p>

      <form action="." role="form" method="post" class="form">
			<div class="container">

              <form action=".">
                  <select name="izbrisimemberid">
                    <option value="" selected>ime priimek, naslov, datum rojstva, ID</option>
                     % for row in izbrisani:

                            <option value="{{row[4]}}">{{row[0]}} {{row[1]}}, {{row[2]}}, {{row[3]}}, {{row[4]}}</option>

                      % end
                  </select>
                </form>
				<button type="submit" value="izbrisimemberid" name="izbrisimember" style="float:right;
width:100px; margin-top: 8px;">Izbriši</button>
			</div>
     </form>

    <br><br><br><br>
    <h2 class="w3-wide">USTVARI RELACIJO STARŠ-OTROK</h2>
   <label>Dodajte staršu otroka, da ga bo lahko prijavil na akcijo.</label>
            <form action="." role="form" method="post" class="form">
			<div class="container">

              <form action=".">

                  <select name="relacijastarsid">
                    <option value="" selected>STARŠ: ime priimek, naslov, datum rojstva, ID</option>
                     % for row in parents:

                            <option value="{{row[4]}}">{{row[0]}} {{row[1]}}, {{row[2]}}, {{row[3]}}, {{row[4]}}</option>

                      % end
                  </select>
                    <br>
                  <select name="relacijaotrokid">
                    <option value="" selected>OTROK: ime priimek, naslov, datum rojstva, ID</option>
                     % for row in children:

                            <option value="{{row[4]}}">{{row[0]}} {{row[1]}}, {{row[2]}}, {{row[3]}}, {{row[4]}}</option>

                      % end
                  </select>
                </form>
                <br>
				<button type="submit" value="relacijaotrokid" name="relacija" style="float:right;
width:100px; margin-top: 8px;">Potrdi</button>
        <div class="custom-select" style="width:200px;">
          </div>
			</div>
     </form>
     <br>
     <br>
     <h2 class="w3-wide">SPREMENI FUNKCIJO OSEBE</h2>

             <form action="." role="form" method="post" class="form">
			<div class="container">

                    <form action=".">
                  <select name="funkcijaosebaid">
                    <option value="" selected>ime priimek, naslov, datum rojstva, ID</option>
                     % for row in izbrisani:

                            <option value="{{row[4]}}">{{row[0]}} {{row[1]}}, {{row[2]}}, {{row[3]}}, {{row[4]}}</option>

                      % end
                  </select>

                  <select name="funkcija2">
                    <option value="otrok">otrok</option>
                    <option value="starš">starš</option>
                    <option value="blagajnik">blagajnik</option>
                    <option value="gospodar">gospodar</option>
                    <option value="GG načelnik">GG načelnik</option>
                    <option value="MČ načelnik">MČ načelnik</option>
                    <option value="PP načelnik">PP načelnik</option>
                    <option value="RR načelnik">RR načelnik</option>
                    <option value="starešina">starešina</option>
                    <option value="tajnik">tajnik</option>
                  </select>
              </form>
				<button type="submit" value="funkcija2"  name="function" style="float:right;
width:100px; margin-top: 8px;">Spremeni</button>
			<div class="custom-select" style="width:200px;">
          </div>
            </div>

     </form>

  </div>
  </div>

  <!-- The AKCIJE Section -->
    <div class="w3-container w3-content w3-padding-64 w3-center" id="akcije">
      <h2 class="w3-wide w3-center">SEZNAM AKCIJ</h2>

        <table class="w3-table-all" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
                <th>ID</th>
              <th>Ime</th>
              <th>Datum</th>
              <th>Trajanje</th>
            </tr>
          </thead>
          <tbody>
          % for row in akcije_vse:
            <tr>
              %for col in row:
                <td>{{col}}</td>
              %end
            </tr>
          %end
         </tbody>
          </table>

      <h2 class="w3-wide w3-center">DODAJ/IZBRIŠI AKCIJO</h2>
      <p><font color="black"><b>Dodaj akcijo</b></font></p>
       <form action="." role="form" method="post" class="form" id="usrform">
          <div class="container w3-center">

              <input type="name" class="form-control" placeholder="ime akcije" name="nameakc1" id="nameakc1" required>
              <input type="date" class="form-control" placeholder="datum"  name="dateakc1" id="dateakc1" required>
            <input type="text" class="form-control" placeholder="trajanje"  name="time" id="time" required>
            <input type="number" class="form-control" placeholder="id organizatorja"  name="organizator" id="organizator" required>
              <textarea rows="2" cols="35" name="comment" id="comment" form_id="usrform">opis</textarea>

            <br>
              <button type="submit" value="dodajakcijo", name="dodajakcijo" style="float:right; width:100px;
margin-top: 8px;">Dodaj</button>
          <div class="custom-select" style="width:200px;">
        </div>
      </div>
                   	  <h5>
                %if napaka2 is not None:
                    {{napaka2}}
                %end
              </h5>
         </form>
      <br>
      <br>
      <p><font color="black"><b>Izbriši akcijo</b></font></p>
      <form action="." role="form" method="post" class="form">
			<div class="container">

              <form action=".">
                  <select name="izbrisiakcijaid">
                    <option value="" selected>ime akcije, ID</option>
                     % for row in akcije_vse:

                            <option value="{{row[0]}}">{{row[1]}}, {{row[0]}}</option>

                      % end
                  </select>
                </form>
				<button type="submit" value="izbrisiakcijaid" name="izbrisiakcijo" style="float:right;
width:100px; margin-top: 8px;">Izbriši</button>
			</div>
     </form>

    </div>


<!-- The VODI Section -->
<div class="w3-green" id="vodi">
  <div class="w3-container w3-content w3-center w3-padding-64" >

      <h2 class="w3-wide w3-center">SEZNAM VODOV</h2>

        <table class="w3-table-alll" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
                <th>ID</th>
              <th>Ime</th>
              <th>Starost</th>
              <th>Termin</th>
            </tr>
          </thead>
          <tbody>
          % for row in vodi_vse:
            <tr>
              %for col in row:
                <td>{{col}}</td>
              %end
            </tr>
          %end
         </tbody>
          </table>

      <h2 class="w3-wide w3-center">DODAJ/IZBRIŠI VOD</h2>
      <p><b>Dodaj vod</b></p>
       <form action="." role="form" method="post" class="form">
          <div class="container w3-center">

              <input type="name" class="form-control" placeholder="ime voda" name="namevod1" id="namevod1"
required>

              <input type="number" class="form-control" placeholder="starost"  name="starost" id="starost"
required>
            <input type="number" class="form-control" placeholder="termin"  name="termin" id="termin"
required>
            <input type="number" class="form-control" placeholder="id vodnika"  name="vodnik" id="vodnik"
required>

            <br>
              <button type="submit" value="dodajvod", name="dodajvod" style="float:right; width:100px;
margin-top: 8px;">Dodaj</button>
          <div class="custom-select" style="width:200px;">
        </div>
      </div>
                   	  <h5>
                %if napaka3 is not None:
                    {{napaka3}}
                %end
              </h5>
         </form>
      <br>
      <br>
      <p><b>Izbriši vod</b></p>
      <form action="." role="form" method="post" class="form">
			<div class="container">

              <form action=".">
                  <select name="izbrisivodid">
                    <option value="" selected>ime voda, ID</option>
                     % for row in vodi_vse:

                            <option value="{{row[0]}}">{{row[1]}}, {{row[0]}}</option>

                      % end
                  </select>
                </form>
				<button type="submit" value="izbrisivodid" name="izbrisivod" style="float:right;
width:100px; margin-top: 8px;">Izbriši</button>
			</div>
     </form>
      </div>
    </div>


      <!-- The IŠČI Section -->
  <div class="w3-container w3-content w3-padding-64 w3-center" id="išči">
    <h2 class="w3-wide w3-center">IŠČI</h2>
    <p class="w3-center">Izberite akcijo oziroma vod in izpisali se vam bodo podatki oseb, ki sodelujejo.</p>

        <form action="." role="form" method="post" class="form">
			<div class="container">

              <form action=".">
                  <select name="akcija2">
                    <option value="" selected>akcija</option>
                     % for row in rows_akcija:

                            <option value="{{row}}">{{row}}</option>

                      % end
                  </select>
                  <select name="vod2">
                    <option value="" selected>vod</option>
                     % for row in rows_vod:


                            <option value="{{row}}">{{row}}</option>

                      % end
                  </select>
                </form>
				<button type="submit" value="izpis", name="izpis" style="float:right;
width:100px; margin-top: 8px;">Izpiši</button>
			</div>
     </form>

    			% if akcija_tabela is not None:
				<table class="w3-table-all" id="dataTable" width="100%" cellspacing="0">
				  <thead>
					<tr>
                      <th>Ime</th>
                      <th>Priimek</th>
                      <th>Funkcija</th>
                      <th>Akcija</th>
					</tr>
				  </thead>
				  <tbody>
				  % for row in akcija_tabela:
					<tr>
					  %for col in row:
						<td>{{col}}</td>
					  %end
					</tr>
				  %end
				 </tbody>
                  %end
                </table>

    			% if vod_tabela is not None:
				<table class="w3-table-all" id="dataTable" width="100%" cellspacing="0">
				  <thead>
					<tr>
                      <th>Ime</th>
                      <th>Priimek</th>
                      <th>Funkcija</th>
                      <th>Vod</th>
					</tr>
				  </thead>
				  <tbody>
				  % for row in vod_tabela:
					<tr>
					  %for col in row:
						<td>{{col}}</td>
					  %end
					</tr>
				  %end
				 </tbody>
                  %end
                  </table>

                  % if skupna_tabela is not None:
				<table class="w3-table-all" id="dataTable" width="100%" cellspacing="0">
				  <thead>
					<tr>
                      <th>Ime</th>
                      <th>Priimek</th>
                      <th>Funkcija</th>
                      <th>Akcija</th>
                      <th>Vod</th>
					</tr>
				  </thead>
				  <tbody>
				  % for row in skupna_tabela:
					<tr>
					  %for col in row:
						<td>{{col}}</td>
					  %end
					</tr>
				  %end
				 </tbody>
                  %end
                  </table>

    <br>
    <br>

    <!--Make sure the form has the autocomplete function switched off:-->
        <p class="w3-center">Išči osebe po imenu ali priimku (začni tipkati in predlogi se bodo pojavili).</p>
        <form autocomplete="off" action="." method="post">
          <div class="autocomplete" style="width:300px;">
            <input type="text" name="ime" id="ime" placeholder="ime" list="imena" />
            </div>
          <div class="autocomplete" style="width:300px;">

            <input type="text" name="priimek" id="priimek" placeholder="priimek" list="priimki" />
          <datalist id="imena">
                % for row in users1:
                      <option>{{row}}</option>
                % end
          </datalist>
          <datalist id="priimki">
                % for row in users2:
                      <option>{{row}}</option>
                % end
          </datalist>



        <button type="submit" value="isci", name="isci" style="float:right; width:100px;  8px;">Išči</button>
        </div>
        </form>

			% if rows_tabela is not None:
				<table class="w3-table-all" id="dataTable" width="100%" cellspacing="0">
				  <thead>
					<tr>
                      <th>Ime</th>
                      <th>Priimek</th>
                      <th>Rojstvo</th>
					  <th>Naslov</th>
                      <th>Telefon</th>
                      <th>Email</th>
                      <th>Članarina</th>
                      <th>Zaposlitev</th>
                      <th>Funkcija</th>
                      <th>Vod</th>
					</tr>
				  </thead>
				  <tbody>
				  % for row in rows_tabela:
					<tr>
					  %for col in row:
						<td>{{col}}</td>
					  %end
					</tr>
				  %end
				 </tbody>
                    </table>
                  %end
                  </div>

<!-- The ČLANARINA Section -->
      <div class="w3-green" id="članarina">
  <div class="w3-container w3-content w3-center w3-padding-64" >
      <h2 class="w3-wide w3-center">OTROCI, KI ŠE NISO PLAČALI ČLANARINE</h2>

        <table class="w3-table-alll" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Ime</th>
              <th>Priimek</th>
              <th>Telefonska št</th>
              <th>Email</th>
              <th>Funkcija</th>
            </tr>
          </thead>
          <tbody>
          % for row in clanarina:
            <tr>
              %for col in row:
                <td>{{col}}</td>
              %end
            </tr>
          %end
         </tbody>
          </table>
    </div>
        </div>

<!-- End Page Content -->
</div>

<script>
function myMap() {
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>

<script>
function prijavi() {
    var ime = document.getElementById("name").value;
    var priimek = document.getElementById("surname").value;
    var datum = document.getElementById("date").value;
    $.post("/indexstars/", {type: "prijavi"})
    console.log(datum)
}
</script>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


</body>
</html>
