<!DOCTYPE html>

%rebase('base.tpl', stil='stars', slika=True)

  <!-- The RDR Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="rdr">
    <h2 class="w3-wide">ROD DVEH REK</h2>
    <p class="w3-opacity"><i>Z naravo k boljšemu človeku!</i></p>
    <p class="w3-justify">Na tej strani lahko vidite pregled podatkov vaših otrok, na katere akcije so prijavljeni in če imajo plačano članarino. V kolikor ugotovite, da podatki niso točni, nam to prosim sporočite.
      Poleg tega lahko v razdelku AKCIJE svoje otroke prijavite nanje. </p>
    </div>

  <!-- The akcije Section -->
  <div class="w3-green" id="akcije">
      <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">VAŠ OTROK JE VPISAN V AKCIJE:</h2>
      <p class="w3-opacity w3-center"><i>
        % stevec = 0
        %for i in rows:
            <p>{{i[1]}} :
                % if prijavljeni_na_akcije[stevec] == []:
                    Otrok ni vpisan v nobeno akcijo.
                % end
                %for j in prijavljeni_na_akcije[stevec]:
                    % for m in j:
                    %st = 0
                    %for k in akcije_prikaz:
                        %if k[0]==m:
                            {{akcije_prikaz[st][1]}}
                        %end
                        %st +=1
                    %end
          %end

                %end
            </p>
            %stevec += 1

        %end
          %stevec = 0
      </i></p><br>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">

          % for i in range(len(akcije_prikaz)):
          % ime = str(akcije_prikaz[-(i+1)][1])
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">

            <p><b>{{akcije_prikaz[-(i+1)][1]}}</b></p>
              <p class="w3-opacity">{{akcije_prikaz[-(i+1)][2]}}</p>
            <p>{{akcije_prikaz[-(i+1)][5]}}</p>
        <form action="." role="form" method="post" class="form">
          Prijava na akcijo:
            % ime1 = 'otrok'+str(akcije_prikaz[-(i+1)][0])
          <select name={{ime1}}>
                %for row in rows:
                  <option value={{row[0]}}>{{row[1]}}</option>
                %end
              % ime = 'prijaviAkcija'+str(akcije_prikaz[-(i+1)][0])

          </select>
            <button type="submit" value={{ime}} name={{ime}} style="float:right; width:100px; margin-top: 8px;">Prijavi otroka</button>
          </form>
          </div>
          </div>
        %end

        </div>



        <div class="card-body">
          <div class="table">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="5">
                SEZNAM VAŠIH OTROK
                <br>
                <br>
			  <tbody>
			  % for row in rows:
				<tr>
					<td>{{row[1]}} {{ row[2]}}, {{ row[3]}}, {{ row[4]}}</td>

                </tr>
			  %end
			 </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>


  <!-- The CLANARINA Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="clanarina">

    <h2 class="w3-wide w3-center">ČLANARINE</h2>

    %nep = 0
    %for i in rows:
      %if i[7]==0:
          %nep += 1
          <p>{{i[1]}} nima plačane članarine!</p>
    %end
    %end
    %if nep == 0:
      <p>Članarina je plačana!</p>
      %end

  </div>

      <!-- The Vpis Section -->
    <div class="w3-green" id="vpis">
      <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
    <h2 class="w3-wide w3-center">VPIS</h2>
    <p>Prosimo, vnesite podatke Vašega otroka in kliknite na gumb "Vpis".</p>

    <form action="." role="form" method="post" class="form">
			<div class="container">
				<input type="name" class="form-control" placeholder="ime otroka" name="name" id="name" required>
                <input type="surname" class="form-control" placeholder="priimek otroka" name="surname" id="surname" required>
                <input type="date" class="form-control" placeholder="datum rojstva"  name="date" id="date" required>
				<button type="submit" value="prijavi", name="prijavi" style="float:right; width:100px; margin-top: 8px;">Vpis</button>
			</div>
     </form>


    </div>
    </div>

    <!-- The Kontakt Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="kontakt">
    <h2 class="w3-wide w3-center">KONTAKT</h2>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Medvode, SLO<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: baza.rdr@gmail.com <br>
      </div>
    </div>
  </div>


  </div>

<!-- End Page Content -->
</div>

<script>
function myMap() {
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>

<script>
function prijavi() {
    var ime = document.getElementById("name").value;
    var priimek = document.getElementById("surname").value;
    var datum = document.getElementById("date").value;
    $.post("/indexstars/", {type: "prijavi"})
    console.log(datum)
}
</script>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
