<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>RDR prijava</title>
  <link rel="stylesheet" href="/static/login.css">
</head>

<div class="login-page">
  <div class="form">
    <form class="login-form" role="form" method="post" action=".">
        <h3>Ste pozabili vaše geslo?</h3>
        <p>Prosimo obrnite se na admina.</p>
        <p class="message">Nazaj na <a href="/prijava/">prijava</a></p>
      <p class="message">Nazaj na <a href="/registracija/">registracija</a></p>
        <p class="message"><a href="/">Domov</a></p>
    </form>
  </div>
</div>