<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>RDR prijava</title>
  <link rel="stylesheet" href="/static/login.css">
</head>

<div class="login-page">
  <div class="form">
    <form class="login-form" role="form" method="post" action=".">
        <h2>Prijava v bazo članstva RDR</h2>
      <input type="username" class="form-control" placeholder="uporabniško ime"
               %if username:
               value="{{username}}"
               %end
               name="username"
               required autofocus>
       <input type="password" class="form-control" placeholder="geslo" name="password" required>
        %if napaka:
        <div class="alert alert-warning">{{napaka}}</div>
        %end
      <button>prijavite se</button>
      <p class="message">Niste še registrirani? <a href="/registracija/">Registrirajte se</a></p>
       <p class="message">Ste pozabili geslo? <a href="/pozabljeno_geslo/">Kliknite tukaj</a></p>
        <p class="message"><a href="/">Domov</a></p>
    </form>
  </div>
</div>