<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>RDR - registracija</title>
  <!-- Bootstrap core CSS-->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Nov uporabnik</div>
      <div class="card-body">
        <form class="form-signin" role="form" method="post" action=".">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">Ime</label>
                <input class="form-control" type="text" aria-describedby="nameHelp" placeholder="Ime"
				%if name:
				value="{{name}}"
				%end
				name="exampleInputName" required>
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Priimek</label>
                <input class="form-control" name="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Priimek"
				%if surname:
				value="{{surname}}"
				%end
				required>
              </div>
            </div>
          </div>
		  <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="username">Uporabniško ime</label>
                <input class="form-control" id="username" type="username" name="username" placeholder="Uporabniško ime" required>
              </div>
              <div class="col-md-6">
                <label for="institution">Datum rojstva</label>
                <input class="form-control" name="institution" type="institution" placeholder="YYYY-MM-DD"
				%if institution:
				value="{{datum}}"
				%end
				required>
              </div>
            </div>
          </div>
             <div class="form-group">
            <label for="exampleInputEmail1">Naslov prebivališča in pošta</label>
            <input class="form-control" name="exampleInputEmail1" type="address" aria-describedby="emailHelp" placeholder="Naslov, pošta"
			%if mail:
			value="{{address}}"
			%end
			required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input class="form-control" name="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Email"
			%if mail:
			value="{{mail}}"
			%end
			required>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Geslo</label>
                <input class="form-control" name="exampleInputPassword1" type="password" placeholder="Geslo" required>
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Potrditev gesla</label>
                <input class="form-control" name="exampleConfirmPassword" type="password" placeholder="Geslo" required>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Register</button>
		  <h5>
							%if napaka is not None:
									{{napaka}}
							%end
		  </h5>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/login/">Prijavi se</a>
          <a class="d-block small" href="forgot-password.html">Si pozabil geslo?</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>