<!DOCTYPE html>

%rebase('base.tpl', stil='uvodna', slika=True)

  <!-- The RDR Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="rdr">
    <h2 class="w3-wide">ROD DVEH REK</h2>
    <p class="w3-opacity"><i>Z naravo k boljšemu človeku!</i></p>
    <p class="w3-justify">Spletna stran za urejanje podatkov in prijave na akcije!</p>
  </div>

  <!-- The akcije Section -->
  <div class="w3-green" id="akcije">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">DATUMI PRIHAJAJOČIH AKCIJ</h2>
      <p class="w3-opacity w3-center"><i>Ne pozabite se prijavit na akcijo!</i></p><br>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/newyork.jpg" alt="Akcija1" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">

            %
              <p><b>{{akcije[-3][1]}}</b></p>


            <p class="w3-opacity">{{akcije[-3][2]}}</p>
            <p>{{akcije[-3]['opis']}}</p>
          </div>
          </div>

        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/paris.jpg" alt="Akcija2" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>{{akcije[-2][1]}}</b></p>
            <p class="w3-opacity">{{akcije[-2][2]}}</p>
            <p>{{akcije[-2]['opis']}}</p>

          </div>
          </div>

        <div class="w3-third w3-margin-bottom">
          <img src="/w3images/sanfran.jpg" alt="Akcija3" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>{{akcije[-1][1]}}</b></p>
            <p class="w3-opacity">{{akcije[-1][2]}}</p>
            <p>{{akcije[-1]['opis']}}</p>
                      <form action="." role="form" method="post" class="form">


          </div>
          </div>
        </div>
       </div>
        </div>


  <!-- The Kontakt Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="kontakt">
    <h2 class="w3-wide w3-center">KONTAKT</h2>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Medvode, SLO<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
      </div>
    </div>
  </div>

<!-- End Page Content -->
</div>

<script>
function myMap() {
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>



